@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
  }
  
  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  body {
    display: grid;
    place-items: center;
    overflow: hidden;
    font-family: "Noto Sans";
  }
  
  a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
  }
  
  /* ---- Header Styling ---- */
  
  
  #header {
    position: relative;
    background-color: white;
    width: 100%;
    z-index: 100;
  }
  
  #navbar ul {
    position: relative;
    display: flex;
    flex-flow: grid;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  #navbar ul li {
    text-align: center;
    margin: 25px 35px 25px 35px;
    font-size: 18px;
  }
  
  #navbar ul li a:hover {
    color: #565656;
  }
  
  #responsive-header {
    display: none;
  }

  /* @media screen and (max-width: 900px) { */
    /* #responsive-header { */
      /* text-decoration: none; */
      /* position: relative; */
      /* display: flex; */
      /* flex-flow: grid; */
      /* justify-content: center; */
      /* align-items: center; */
      /* list-style: none; */
      /* text-align: center; */
    /* } */
    /* #navbar { */
      /* display: none; */
    /* } */
  /* } */
  
  /* ---- Hero Styling ---- */
  
  #welcome-section {
    position: relative;
    /* width: 100vw; */
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
  }
  
  #welcome-section-title {
    font-family: 'Nova Square', sans-serif;
    font-size: 3.5em;
  }


  .teks {
    font-family: 'Work Sans', sans-serif;
    top: 15px;
    position: relative;
    display: block;
    justify-content: center;
    color: #11101b;
    text-align: center;
    font-size: 1.9em;
  }

  .typedText {
    text-transform: capitalize;
  }


.heart {
    color: rgb(240, 92, 141);
  }

  .heart:hover {
    color:aqua
  }

  .tombol-beli {
    bottom: 12em;
    position: relative;
    display: block;
    text-align: center;
  }

  .tombol-beli button {
    font-family: 'Outfit', monospace;
    padding: 14px 20px;
    border-radius: 50px;
    border: 0;
    background: white;
    box-shadow: rgb(0, 0, 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
  }

  .tombol-beli button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }

  .tombol-beli button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }


   .menu-icon {
    list-style: none;
    display: block;
    border: none;
    margin  : 20px auto;
    width   : 20px;
    height  : 14px;
    cursor  : pointer;
    position: relative;
  }
  
  .menu-icon span {
    background-color: black;
    height          : 2px;
    position        : absolute;
    width           : 100%;
    left            : 0;
    transition      : all 0.3s ease;
    border: none;
    border-radius   : 10px;
  }
  
  .menu-icon span:first-child {
    top: 0;
  }
  
  .menu-icon span:nth-child(2) {
    top: 6px;
  }
  
  .menu-icon span:last-child {
    top: 12px;
  }
  
  .menu-icon:hover span:nth-child(2) {
    opacity: 0;
  }
  
  .menu-icon:hover span:first-child,
  .menu-icon:hover span:last-child {
    top             : 6px;
    background-color: red;
  }
  
  .menu-icon:hover span:first-child {
    transform: rotate(45deg);
  }
  
  .menu-icon:hover span:last-child {
    transform: rotate(-45deg);
  }