@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  body {
    display: grid;
    place-items: center;
    overflow: hidden;
    font-family: "Noto Sans";
    background-color: white;
    transition: background-color 0.5s ease;
  }


  
  a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
  }
  
  /* ---- Header Styling ---- */
  
  
  #header {
    position: relative;
    /* background-color: white; */
    width: 100%;
    z-index: 100;
  }
  
  #navbar ul {
    position: relative;
    display: flex;
    flex-flow: grid;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  #navbar ul li {
    text-align: center;
    margin: 25px 35px 25px 35px;
    font-size: 18px;
  }
  
  #navbar ul li a:hover {
    color: #565656;
  }
  
  #responsive-header {
    display: none;
  }

  /* @media screen and (max-width: 900px) { */
    /* #responsive-header { */
      /* text-decoration: none; */
      /* position: relative; */
      /* display: flex; */
      /* flex-flow: grid; */
      /* justify-content: center; */
      /* align-items: center; */
      /* list-style: none; */
      /* text-align: center; */
    /* } */
    /* #navbar { */
      /* display: none; */
    /* } */
  /* } */



  /* Mode Gelap */

  .mode-gelap {
    background-color: black;
    color: white;
    transition: background-color 0.5s ease;
    #navbar a {
      color: white;
    }
    .kejutan {
      border: 5px solid white;
    }
    #countdown {
      color: #bcbcbc;
    }
    #navbar ul li a:hover {
      color: #bcbcbc;
    }
  }

  .uiswitch {
    /* switch */
    --switch-bg: rgb(135, 150, 165);
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: rgb(0, 0, 0);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
  }
  
  .uiswitch input {
    display: none;
  }
  
  .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
  }
  
  .slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    ;
  }
  
  .slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(131, 255, 228, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
  }
  
  /* actions */
  
  .uiswitch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  }
  
  .uiswitch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
  }
  
  /* ---- Hero Styling ---- */
  
  #welcome-section {
    position: relative;
    /* width: 100vw; */
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* color: black; */
  }
  
  #welcome-section-title {
    font-family: 'Nova Square', sans-serif;
    font-size: 3.5em;
  }


  .teks {
    font-family: 'Work Sans', sans-serif;
    top: 15px;
    position: relative;
    display: block;
    justify-content: center;
    /* color: #11101b; */
    text-align: center;
    font-size: 1.9em;
  }

  .typedText {
    text-transform: capitalize;
  }


.heart {
    color: rgb(240, 92, 141);
  }

  .heart:hover {
    color:aqua
  }

  .tombol-beli {
    bottom: 12em;
    position: relative;
    display: block;
    text-align: center;
  }

  .tombol-beli button {
    font-family: 'Outfit', monospace;
    padding: 14px 20px;
    border-radius: 50px;
    border: 0;
    background: white;
    box-shadow: rgb(0, 0, 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
  }

  .tombol-beli button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }

  .tombol-beli button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }


   .menu-icon {
    list-style: none;
    display: block;
    border: none;
    margin  : 20px auto;
    width   : 20px;
    height  : 14px;
    cursor  : pointer;
    position: relative;
  }
  
  .menu-icon span {
    background-color: black;
    height          : 2px;
    position        : absolute;
    width           : 100%;
    left            : 0;
    transition      : all 0.3s ease;
    border: none;
    border-radius   : 10px;
  }
  
  .menu-icon span:first-child {
    top: 0;
  }
  
  .menu-icon span:nth-child(2) {
    top: 6px;
  }
  
  .menu-icon span:last-child {
    top: 12px;
  }
  
  .menu-icon:hover span:nth-child(2) {
    opacity: 0;
  }
  
  .menu-icon:hover span:first-child,
  .menu-icon:hover span:last-child {
    top             : 6px;
    background-color: red;
  }
  
  .menu-icon:hover span:first-child {
    transform: rotate(45deg);
  }
  
  .menu-icon:hover span:last-child {
    transform: rotate(-45deg);
  }


/* Event Special */

.kejutan {
  display: block;
  margin-top: 80px;
  font-family: 'Arial', sans-serif;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 50px;
  padding: 20px;
  text-align: center;
}

#countdown {
  display: none;
  font-size: 2em;
  color: #333;
}

#suprise {
  display: add;
  font-size: 1.5em;
  color: #e44d26;
  margin-top: 20px;
}

#suprise button {
  font-size: 24px;
  margin-top: 20px;
  display: inline-block;
  padding: 15px 20px;
  background-color: #25D366; /* Warna hijau WhatsApp */
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#suprise button span {
  margin: 10px;
  vertical-align: middle;
}

#suprise button:hover {
  background-color: #128C7E; /* Warna hijau tua WhatsApp saat dihover */
}

/* Mobile Respondsive BETA */

